/* AMOR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer.mastfoot.signature-amor {
    padding: 20px !important;
    position: relative;
    width: 100%;
    z-index: 9999;
}
footer.mastfoot.signature-amor .credits p{
	margin-bottom: 0px;
}

#snow-footer {
    background: #636363;
    padding: 30px 0;
}

.snow-footer-text {
    /*padding-left: 55px;*/
}

.snow-footer-text p {
    font-size: 18px;
    color: white;
    margin: 0;
    line-height: 28px;
}

.snow-footer-text img {
    margin-bottom: 8px;
    display: block;
    height: 30px;
}
