/* AMOR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer.mastfoot.signature-amor {
    padding: 20px !important;
    position: relative;
    width: 100%;
    z-index: 9999;
}
footer.mastfoot.signature-amor .credits p{
	margin-bottom: 0px;
}

#snow-footer {
    background: #636363;
}

.snow-footer-text {
    padding-left: 50px;
}

.snow-footer-text p {
    font-size: 24px;
    color: white;
}